.line-bar{
    position: absolute;
    text-transform: top left;

    
}

.line-bar>div:first-child{
    position: absolute;
    /*transition: all 0.1s;*/
}


.line-bar>div:nth-child(2){
    position: absolute;
    bottom:0;
    border-radius: 50%;

}

.line-bar>div:nth-child(2) img{
    position: absolute;
    right: 0;
    
    border-radius: 50%;

    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}


.line-bar>div:nth-child(2) svg{
    position: absolute;
    right: 0;
    
    border-radius: 50%;

    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}

